.form_page {
  justify-content: center;
}

.authentication_form {
  width: 30%;
  padding: 2em 3em;
  margin-top: 2em;
  background-color: #fff;
}

.authentication_form h2 {
  font-size: 2.5em;
  margin-bottom: 1.8em;
  text-align: center;
}

.form_submit {
  align-self: end;
  height: 40px;
  width: 100%;
  margin: 1.5em 0 0.7em;
  width: fit-content;
  padding: 0 1em !important;
  background-color: #6457f9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form_inputs div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3em;
}

.form_inputs label {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 3px;
}

.from_text_input {
  height: 2.1em;
  padding: 0 8px;
  font-size: 1em;
  font-weight: 500;
  outline: none;
}

.form_error {
  color: red;
}
